// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin:0;
  padding:0;
  background: url(home/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #textePresentation{
    h1{
      font-size: 85px;
      color: white;
      margin-top: 15%;
      font-family: Tex_B;
      text-shadow: 0 1px 1px #000;
    }

    h2{
      font-size: 30px;
      color: white;
      font-family: roboto_l;
      font-weight: light;
      text-shadow: 0 1px 1px #000;
    }
  }
  #dejaUnCompte{
    color: white;
    font-size: 15px;
    font-family: roboto_l;

    a{
      text-decoration: none;
      color: #7d9cbb;
    }
    a:hover{
      text-decoration:underline;
    }
  }
  #video{
    font-size: 150px;
    text-shadow: 0px 0px 10px #ffffff;
    filter: dropshadow(color=#ffffff, offx=0, offy=0);
    color: white;
    float: bottom;
    a{
      color: white;
    }
    a:hover{
      text-decoration: none;
    }
  }
}